<div id="content" class="col-lg-12"> 
  <header id="header" class="col-lg-12" [style.background]="header_color">
    <h1>
      {{title}}
    </h1>
  </header>
  <nav id="nav" class="col-lg-12" >
    <ul>
      <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
      <li><a [routerLink]="['/products']" [routerLinkActive]="['activado']">Productos</a></li>
      <li><a [routerLink]="['/create-product']" [routerLinkActive]="['activado']">Crear productos</a></li>
    </ul>
  
  <br>
  </nav>
  <section id="main" class="col-lg-12">
    <!-- Componente actual router-oulet-->
    <router-outlet></router-outlet> <!-- Por defecto toma el componente Home-->
  </section>
  <footer id="footer" class="col-lg-12">
    <p>Design By Alejandro Pérez</p>
  </footer>
</div>